@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
html{
    overflow-x: hidden !important;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*==== Typography ======*/
.green-text{
    color: rgb(1, 51, 39) !important;
}
.text-emphasis-medium{
    font-weight: 600 !important;
}
.white-text{
    color: #FFFFFF !important;
}
.grey-text{
    color: #777777;

}
.light-grey{
    color: #AFB0B1;

}
.green-background{
    background: #055844
}
.light-green{
    color: #075F49;
}
.text-emphasis-bolder{
    font-weight: 900 !important;
}
/* ======= End Typography ===== */
/*============Nav styling============*/
.nav-tab-custom{
    height:60px !important;
    margin: 15px auto !important;
    justify-content: center;
}
/*============= End styling*/
/*==== forms ======*/
.input-no-border{
    border: none !important;
}
.input-group-text-no-bg{
    background: none !important;
    border: none !important;
}
.form-check-input-custom{
    background: #B1E023 !important;
    border-color: #B1E023 !important;
    color: #FFFFFF !important;
}

.fieldset-with-shadow{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    max-height: 120px !important;
}
/* ======= form ===== */



.col-with-padding{
    margin: 20px 15px !important;
}

/* footer */
.Copyright{
    font-size: 0.875rem;
}
/*  */

.no-decor{
    text-decoration: none;
}
#toolbar{
    display: none;
}