.pagination-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 5rem;
}
.paginationBttns {
    width: 50%;
    /* height: ; */
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid red; */
    /* padding: 16px 0; */
    height: 5rem;
    font-size: 14px;
    height: 3rem;
    padding: 1rem 0;
    /* transition: all .2s ease-in-out; */
    
}
/* .paginationDisabled {
    color: purple;
} */

.paginationBttns a {
    padding: 0.5rem 1rem;
    /* margin: 1rem 0; */
    border-radius: 5px;
    border: 1px solid#075F49;
    cursor: pointer ;
    /* transition: all .2s ease-in-out; */
    height: 100%;
    text-align: center;
    align-self: baseline;
    /* width: 3rem;  */
}

.paginationBttns a:hover {
    color: white;
    background: #075F49;
    /* transform: scale(1.1); */
}
.paginationBttns a:focus{
        border:1px solid #075F49;
        outline: #075F49;
        /* background: purple; */
}
.paginationActive {
    /* color: white; */
    /* background: green; */
    background-color: #075F49;
    color: white;
    /* background-size: c; */
    /* height: 100%; */
    padding: .67rem 0;
    border-radius: 5px;
    /* margin: 1rem 0; */
    /* background-size: cover; */
    /* height: 1rem; */
}