.logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.btn:focus,
.search-input:focus,
.form-input:focus,
.checkbox:focus,
.e-lib_box .search-input:focus {
  box-shadow: none;
}

.login-span {
  padding-left: 2rem;
}
.signin {
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #b1e023;
  color: #055844;
}
.header-nav {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 1rem;
}
.header-text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}
.search {
  border: 1px solid rgba(227, 222, 220, 0.29);
  box-shadow: 0px 2px 7px rgba(102, 54, 27, 0.18);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  width: 30%;
}
.search-input {
  border: none;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.9rem;
  letter-spacing: 0.31px;
  color: #ced4da;
}
.search-input:focus {
  outline: none;
}
.drop-style {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: capitalize;
  color: #055844;
  padding: 1rem 5rem 1rem 1.5rem;
  border-bottom: 1px solid #efefef;
}
.logout {
  padding: 1rem 5rem 1rem 1.5rem;
  cursor: pointer;
  font-weight: 500
}
.drop-style:hover{
  color:white;
  background-color:rgba(5, 88, 68, 0.5) ;
}
.card1-h2 {
  font-size: 3rem;
  line-height: 4.5rem;
}
.card1-p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #afb0b1;
}
.card1 {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  width: 70%;
  height: 24rem;
  margin: 2rem 0;
  text-align: center;
  padding: 1rem auto;
}
.card1 h6 {
  padding: 2rem 0 5rem;
}
.img-cont {
  height: 9.375‬rem;
  position: relative;
  display: flex;
}

.img-cus {
  height: inherit;
}

.btn-cus {
  display: block;
  bottom: 20px;
  right: 30%;
  background: #075f49;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: normal;
  position: absolute;
}
.card1 h5 {
  font-size: 4.5rem;
  align-self: flex-start;
  letter-spacing: 1.1px;
  margin-left: 1rem;
}

.card-flex {
  display: flex;
  justify-content: center;
}
.card1-a {
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 0.625rem;
  letter-spacing: 0.31px;
}

.card2 {
  margin-bottom: 10rem;
  width: 80%;
  height: 35.19rem;
  background: rgba(177, 224, 35, 0.1);
  border-radius: 5px;
  color: #68676f;
  padding: 1rem 0 2rem 0;
}
.card2-a,
.card2-a-res,
.back-anchor {
  font-weight: 800;
  font-size: 1.12rem;
  line-height: 0.625rem;
  letter-spacing: 0.31px;
  color: #055844;
  margin-bottom: 8.7rem;
}

.card2-a-res {
  display: none;
  margin-bottom: 1rem;
}

.footer-top-hr {
  border: 1px solid #075f49;
  margin-top: 2rem;
}
.card-button {
  background: #075f49;
  border-radius: 5px;
  height: 3.5rem;
}

.style-group {
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}
.flex-apart {
  display: flex;
  justify-content: space-between;
}
.form-input::placeholder {
  color: #afb0b1;
}
.info-red {
  font-family: Mulish;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ee5331;
}
.reg-form {
  margin: 5rem 0;
}
.checkbox,
.checkbox:checked,
.checkbox:focus {
  background: #b1e023;
  border-color: #b1e023;
}
.checkbox-text {
  color: #7f8b94;
}

.e-lib {
  background: rgba(177, 224, 35, 0.1);
}

.e-lib_box h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
  letter-spacing: 0.8px;
  color: #000000;
}

.e-lib_box p {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.31px;
  color: #68676f;
}

.e-lib_box .search-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #f9f8f8;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(102, 54, 27, 0.18);
  border-radius: 12px;
}

.e-lib_box .search-icon {
  padding-right: 2rem;
  padding-left: 1rem;
}

.e-lib_box .search-input {
  font-weight: normal;
  font-size: 0.65rem;
  padding: 0 5px;
  border: none;
  background: #f9f8f8;
  letter-spacing: 0.31px;
}
.text-anchor {
  font-size: 1.1rem;
  line-height: 27px;
  color: #075f49;

}
.card-hover {
    transition: all 0.3s ease-in-out;
  }
  .card-hover:hover {
    transform: scale(1.1);
  }
  .img-cont {
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
  }

.text-anchor:hover {
  color: #075f49;
}

.login-img {
  margin-top: 11rem;
  width: 100%;
  max-width: 700px;
  height: auto;
}
.learn-h3 {
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.45px;
  color: #000000;
  padding-bottom: 1.3rem;
}

.learn {
  margin-top: 5rem;
}

.learn-iframe {
  width: 100%;
  max-width: 700px;
  height: 350px;
}
.card-bn {
  /* width: 100%; */
  min-width: 18rem;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card-bn p:first-child {
  line-height: 23px;
  letter-spacing: 0.23px;
  text-transform: uppercase;
}

.card-bn_btn {
  background: #075f49;
  font-size: 0.9rem;
}

.card-bn sup {
  font-size: 1rem;
}

.card-bn span {
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  vertical-align: middle;
}

.title-3 {
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 57px;
  letter-spacing: 0.45px;
}

.section-3 {
  background: #f9f8f6;
}

.p-last {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.section-4 .card {
  border: none;
  /* width: 15rem; */
}

.section-4 .card p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.section-4 h5,
.section-5 h5,
.section-6 h5 {
  letter-spacing: 0.26px;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.section-4 .para {
  font-size: 1.1rem;
  /* outline: 1px solid green; */
  line-height: 1.7rem;
}

.section-5 {
  background: #f9f8f6;
}

.section-5 .banner {
  background: #ffffff;
  border: 1px solid #e5e5e9;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(233, 233, 235, 0.7);
  border-radius: 6px;
}

.section-5 .content {
  margin-left: 1rem;
}

.content h5 {
  font-weight: 600;
  /* font-size: 1rem; */
}

.content p {
  font-size: 0.9rem;
}

.support {
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0.31px;
}

.section-6 .bar {
  background: #ffffff;
  border: 1px solid rgba(205, 193, 185, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 0px 12px rgba(102, 54, 27, 0.07);
  border-radius: 8px;
}

.bar .vert-bar-left {
  background: #b1e023;
  border-radius: 20px;
  width: 4px;
  height: auto;
  margin-right: 3rem;
}

.bar .vert-bar-right {
  background: #e9e7e3;
  width: 1px;
  height: 55px;
  margin-right: 1.7rem;
}

.bar p {
  font-size: 20px;
  letter-spacing: 0.29px;
  color: #000000;
}

.pag-col button {
    background: #f5f5fa;
    border-radius: 6px;
    border: none;
    font-weight: normal;
    font-size: 1rem;
    color: #8181a5;
  }
  
  .pag-col .active {
    background: #075f49;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    color: #ffffff;
  }
  .pag-col p {
    display: inline;
    font-size: 0.9rem;
  }
  .pag-col input {
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 6px;
    width: 50px;
    margin-left: 0.6rem;
  }
  .pag-col input:focus {
    outline: none;
  }
  .pag-col .go {
    font-weight: normal;
    font-size: 14px;
    margin-left: 0.6rem;
  }

    .page-item {
      padding: 5px;
      text-align: center;
    }
    .page-link:hover{
      background: #075f49;
      color: #fff;
    }

    .page-link {
      z-index: 0;
      color: #000000;
      border: none;
      background: none;
    }

  .page-item.active .page-link{

    z-index: 3;
    color: #fff;
    background-color: #075f49;
    border-color: #075f49;
}
  

.section-6 .box {
  background: #c4c4c4;
  border-radius: 6px;
  height: 450px;
}

.section-6 .try {
  font-weight: 500;
}

.section-6 .cus-card {
  background-color: #ffffff;
  border-bottom: 1px solid#E5E5E9;
  margin-bottom: 2rem;
}

.cus-card small {
  font-size: 12px;
  line-height: 18px;
  color: #68676f;
}

.cus-card.no-border {
  border-bottom: 0;
}

.img-style {
  width: 100%;
  max-width: 100px;
  height: 30px;
}

.aff {
  width: 200px;
}

.big-footer {
  background: #013327;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  border-radius: 0px;
  color: #ffffff;
}

.footer-logo {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.footer-p {
  font-size: 0.9rem;
}

.section-7 h4 {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
}

.section-7 ul {
  list-style-type: none;
}

.section-7 ul li::before {
  content: "> ";
  color: #34dfe5;
}

.section-7 ul li a {
  color: #34dfe5;
  font-size: 0.9rem;
}

.footer-bottom {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
}

.footer-bottom .lk {
  color: #34dfe5;
}

.support .ft-circle {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 32px;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .e-lib-logo {
    max-width: 150px;
    height: 60px;
    align-items: center;
  }
  .card2-a-res {
    display: block;
  }
  .res-div {
    display: flex;
    justify-content: space-between;
  }
  .card2-a {
    display: none;
  }
}
